/* ==========================================================================


    Off-Canvas Menu                              


   ========================================================================== */
.row-fluid > .off-canvas-menu {
    position: fixed;
    z-index: 1001;
    width: 300px;
    height: 100%;
    background: #fff;
    padding: 1em;
    font-size: 1.15em;
    transform: translate3d(-320px,0,0);
    transition: transform 250ms ease;
    box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.24);
    overflow-x: scroll;
}

/* Show menu */
.show-menu .row-fluid > .off-canvas-menu {
	transform: translate3d(0,0,0);
}
.row-fluid > .off-canvas-menu a { 
    padding: 0.75em;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

/* Second level menu */
.off-canvas-menu .hs-menu-depth-1.hs-item-has-children {
    perspective: 1000px;
}
.off-canvas-menu .hs-menu-depth-1 > ul.hs-menu-children-wrapper {
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    transform: scale(1,0) rotateX(-90deg);
    transition: all .2s ease;
    opacity: 0 !important;
    max-height: 0;
}

/* Show menu second level menu */
.off-canvas-menu .hs-menu-depth-1.show-menu > ul.hs-menu-children-wrapper {
    transform: scale(1,1) rotateX(0deg);
    opacity: 1 !important;
    max-height: 220px;
}
.off-canvas-menu .hs-menu-depth-1.hs-item-has-children > a:after {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 6px;
    vertical-align: middle;
    border-top: 4px dashed ;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: " ";
    position: absolute;
    top: 1.2em;
    right: 1em;
    transform: rotate(0);
    transition: all 500ms;
}
.off-canvas-menu .hs-menu-depth-1.hs-item-has-children.show-menu > a:after {
    transform: rotate(180deg);
}

/* for demo purposes only - you'll need to style and position your menu button yourself */
.menu-toggle {
    display: block;
    text-align: right;
}